@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
.banner-image{
  height:600px;
}

.driver-section{
  position:relative;
  margin-top:-90px;
}
.student-section{
  position:relative;
  margin-top:90px;
}
@media only screen and (max-width: 600px) {
  .banner-image{
    height:300px;
  }
  .driver-section{
    position:relative;
    margin-top:-0px;
  }
  .student-section{
    position:relative;
    margin-top:0px;
  }
}